- name: Restrict SSH on internal hosts to accept only from bastion
  hosts: internal
  become: true
  gather_facts: true

  vars_files:
    - ../../../../cluster.yaml

  vars:
    sshd_config_path: /etc/ssh/sshd_config
    bastion_ip: "{{ network.base_prefix }}.{{ vms['bastion-01'].vmid }}"

  tasks:
    - name: Ensure ufw is installed
      ansible.builtin.apt:
        name: ufw
        state: present
        update_cache: yes

    - name: Enable ufw with default deny incoming
      community.general.ufw:
        state: enabled
        policy: deny
        direction: incoming

    - name: Allow SSH from bastion only
      community.general.ufw:
        rule: allow
        port: "22"
        proto: tcp
        src: "{{ bastion_ip }}"

    - name: Allow all outgoing traffic
      community.general.ufw:
        direction: outgoing
        policy: allow

