{% set ns_host = (unbound_zone_vms | first) %}
$ORIGIN {{ unbound_zone_name }}.
@  3600 IN SOA  {{ ns_host }}.{{ unbound_zone_name }}. hostmaster.{{ unbound_zone_name }}. (
        1 3600 900 604800 3600 )
   3600 IN NS   {{ ns_host }}.{{ unbound_zone_name }}.

{# A: <vm name>.domain -> base_prefix.vmid #}
{% for name, vm in unbound_zone_vms.items() %}
{{ name }}  3600 IN A  {{ unbound_zone_base_prefix }}.{{ vm.vmid }}
{% endfor %}

{# CNAME: <service name>.domain -> <target_vm>.domain #}
{% for svc_name, svc in unbound_zone_services.items() %}
{%   set target = svc.target_vm %}
{%   if target in unbound_zone_vms %}
{{ svc_name }}  3600 IN CNAME  {{ target }}.{{ unbound_zone_name }}.
{%   endif %}
{% endfor %}

{# CNAME: <proxy entry>.domain -> proxy.domain #}
{% for entry in unbound_proxy_entries %}
{{ entry }}  3600 IN CNAME  {{ unbound_proxy_service_name }}.{{ unbound_zone_name }}.
{% endfor %}
