POSTGRES_USER={{ audiomuse_postgres_user }}
POSTGRES_PASSWORD={{ audiomuse_postgres_password }}
POSTGRES_DB={{ audiomuse_postgres_db }}
AUDIOMUSE_USER={{ audiomuse_auth_username }}
AUDIOMUSE_PASSWORD={{ audiomuse_admin_password }}
API_TOKEN={{ audiomuse_api_token }}
JWT_SECRET={{ audiomuse_jwt_secret }}
