[global]
   workgroup = {{ storage_samba_workgroup }}
   server role = standalone server
   security = user
   map to guest = Never
   server min protocol = SMB2

{% for name, share in storage_samba_model.shares.items() %}
[{{ name }}]
   path = {{ share.path }}
   browseable = {{ 'yes' if share.browseable else 'no' }}
   read only = {{ 'yes' if share.read_only else 'no' }}
   guest ok = no
   valid users = {{ share.valid_users | join(' ') }}
{% if storage_samba_users is not none %}
   force user = {{ share.force_user }}
{% endif %}
{% if share.force_group is defined %}
   force group = {{ share.force_group }}
{% endif %}
   create mask = {{ share.create_mask }}
   directory mask = {{ share.directory_mask }}
{% if share.force_directory_mode is defined %}
   force directory mode = {{ share.force_directory_mode }}
{% endif %}
   inherit permissions = {{ 'yes' if share.inherit_permissions else 'no' }}
   follow symlinks = {{ 'yes' if share.follow_symlinks else 'no' }}
{% if share.encryption != 'default' %}
   smb encrypt = {{ share.encryption }}
{% endif %}

{% endfor %}
