[Unit]
Description=Garage S3-compatible object store
Documentation=https://garagehq.deuxfleurs.fr/documentation/
After=network-online.target
Wants=network-online.target
RequiresMountsFor={{ garage_base_path }}

[Service]
Type=simple
User={{ garage_user }}
Group={{ garage_group }}
EnvironmentFile={{ garage_env_path }}
Environment=RUST_LOG=garage=info
Environment=RUST_BACKTRACE=1
ExecStart={{ garage_binary_path }} server --single-node --default-bucket
Restart=on-failure
RestartSec=5s
LimitNOFILE=42000

NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
ReadWritePaths={{ garage_base_path }}
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
