[Unit]
Description=AdGuard Home DNS server
After=network.target

[Service]
Type=simple
User={{ agh_user }}
Group={{ agh_group }}
WorkingDirectory={{ agh_install_dir }}
ExecStart={{ agh_install_dir }}/AdGuardHome -c {{ agh_config_dir }}/AdGuardHome.yaml -w {{ agh_install_dir }}
Restart=on-failure
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target

