[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart={{ node_exporter_bin_path }} --web.listen-address={{ node_exporter_listen_address }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
