# Managed by Ansible for ARM music ripping.
CDDBMETHOD={{ arm_abcde_cddb_method }}
OUTPUTTYPE={{ arm_abcde_output_type }}
OUTPUTDIR={{ arm_abcde_output_dir }}
OUTPUTFORMAT='{{ arm_abcde_output_format }}'
VAOUTPUTFORMAT='{{ arm_abcde_va_output_format }}'
ONETRACKOUTPUTFORMAT='{{ arm_abcde_onetrack_output_format }}'
VAONETRACKOUTPUTFORMAT='{{ arm_abcde_va_onetrack_output_format }}'
FLACOPTS='{{ arm_abcde_flac_options }}'
MAXPROCS={{ arm_abcde_max_procs }}
PADTRACKS={{ arm_abcde_pad_tracks }}
EJECTCD={{ arm_abcde_eject_cd }}
INTERACTIVE={{ arm_abcde_interactive }}
