- name: Build in-memory inventory from cluster.yaml (on bastion)
  hosts: localhost
  gather_facts: false

  vars:
    cluster: "{{ lookup('file', '../../../cluster.yaml') | from_yaml }}"

  tasks:
    - name: Add bastion hosts
      ansible.builtin.add_host:
        name: "{{ item.key }}"
        groups: "bastion,cluster"
        ansible_connection: local
        ansible_user: "{{ cluster.login_user }}"
        ansible_python_interpreter: /usr/bin/python3
      loop: "{{ cluster.vms | dict2items }}"
      when: item.value.role == 'bastion'

    - name: Add internal hosts
      ansible.builtin.add_host:
        name: "{{ item.key }}"
        groups: "internal,cluster"
        ansible_host: "{{ cluster.network.base_prefix }}.{{ item.value.vmid }}"
        ansible_user: "{{ cluster.login_user }}"
        ansible_python_interpreter: /usr/bin/python3
        ansible_ssh_private_key_file: "/home/{{ cluster.login_user }}/.ssh/id_ed25519_internal"
      loop: "{{ cluster.vms | dict2items }}"
      when: item.value.role in ['app', 'dns']

    - name: Add proxy hosts
      ansible.builtin.add_host:
        name: "{{ item.key }}"
        groups: "proxy,cluster"
        ansible_host: "{{ cluster.network.base_prefix }}.{{ item.value.vmid }}"
        ansible_user: "{{ cluster.login_user }}"
        ansible_python_interpreter: /usr/bin/python3
        ansible_ssh_private_key_file: "/home/{{ cluster.login_user }}/.ssh/id_ed25519_internal"
      loop: "{{ cluster.vms | dict2items }}"
      when: item.value.role == 'proxy'

    - name: Add dns hosts
      ansible.builtin.add_host:
        name: "{{ item.key }}"
        groups: "dns"
      loop: "{{ cluster.vms | dict2items }}"
      when: item.value.role == 'dns'

    - name: Add app hosts
      ansible.builtin.add_host:
        name: "{{ item.key }}"
        groups: "app"
      loop: "{{ cluster.vms | dict2items }}"
      when: item.value.role == 'app'
