POSTGRES_USER={{ audiomuse_worker_postgres_user }}
POSTGRES_PASSWORD={{ audiomuse_worker_postgres_password }}
POSTGRES_DB={{ audiomuse_worker_postgres_db }}
POSTGRES_HOST={{ audiomuse_worker_db_host }}
POSTGRES_PORT={{ audiomuse_worker_db_port }}
