title: Homelab

theme: dark

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: false
  showSearchSuggestions: true

layout:
  Infrastructure:
    style: row
    columns: 3

headerStyle: boxed
