---
- import_playbook: plays/inventory_from_cluster.yaml

- name: Harden SSH on internal hosts
  hosts: internal
  become: true
  gather_facts: true

  vars_files:
    - ../../cluster.yaml

  vars:
    bastion_ip: "{{ network.base_prefix }}.{{ vms['bastion-01'].vmid }}"

  roles:
    - role: ssh_hardening
      vars:
        ssh_allow_from_ip: "{{ bastion_ip }}"
        install_fail2ban: false

- name: Harden SSH on proxy hosts and allow web traffic
  hosts: proxy
  become: true
  gather_facts: true

  vars_files:
    - ../../cluster.yaml

  vars:
    bastion_ip: "{{ network.base_prefix }}.{{ vms['bastion-01'].vmid }}"
    proxy_allow_cidr: "{{ network.base_prefix }}.0/{{ network.cidr_suffix }}"

  roles:
    - role: ssh_hardening
      vars:
        ssh_allow_from_ip: "{{ bastion_ip }}"
        install_fail2ban: true

  tasks:
    - name: Allow HTTP/HTTPS to proxy via ufw
      loop:
        - "80"
        - "443"
      loop_control:
        loop_var: proxy_port
      community.general.ufw:
        rule: allow
        port: "{{ proxy_port }}"
        proto: tcp
        src: "{{ proxy_allow_cidr }}"

- name: Configure Traefik on proxy hosts
  hosts: proxy
  become: true
  gather_facts: false

  vars_files:
    - ../../cluster.yaml

  roles:
    - role: traefik

- name: Run Cloudflare Tunnel on proxy hosts
  hosts: proxy
  become: true
  gather_facts: false

  vars_files:
    - ../../cluster.yaml

  roles:
    - role: cloudflare_tunnel

- name: Install Docker on app hosts
  hosts: app
  become: true
  gather_facts: false

  vars_files:
    - ../../cluster.yaml

  roles:
    - role: docker
      vars:
        docker_users:
          - "{{ login_user }}"

- name: Deploy Homepage on app hosts
  hosts: app
  become: true
  gather_facts: false

  vars_files:
    - ../../cluster.yaml

  vars:
    homepage_proxy_ip: "{{ network.base_prefix }}.{{ vms['proxy-01'].vmid }}"

  roles:
    - role: homepage

- name: Deploy personal-site on app hosts
  hosts: app
  become: true
  gather_facts: false

  vars_files:
    - ../../cluster.yaml

  vars:
    personal_site_service: "{{ (services | default([]) | selectattr('name', 'equalto', 'personal-site') | list | first) | default({}) }}"
    personal_site_enabled: "{{ personal_site_service != {} and (personal_site_service.proxy is defined and (personal_site_service.proxy.enable | default(false) | bool)) }}"
    personal_site_target_vm: "{{ personal_site_service.target_vm | default('') }}"
    personal_site_port: "{{ (personal_site_service.proxy.port | int) if (personal_site_service.proxy is defined and personal_site_service.proxy.port is defined) else 8080 }}"
    personal_site_image: "{{ personal_site_service.image | default('ghcr.io/neodymium6/profile.neodymium6.net:latest') }}"
    personal_site_update_enable: "{{ personal_site_service.update_enable | default(true) }}"
    personal_site_update_on_boot_sec: "{{ personal_site_service.update_on_boot_sec | default('2m') }}"
    personal_site_update_unit_active_sec: "{{ personal_site_service.update_unit_active_sec | default('1h') }}"
    personal_site_proxy_ip: "{{ network.base_prefix }}.{{ vms['proxy-01'].vmid }}"

  roles:
    - role: personal_site
      when:
        - personal_site_enabled | bool
        - inventory_hostname == personal_site_target_vm

- name: Install node_exporter on all VMs
  hosts: cluster
  become: true
  gather_facts: false

  vars_files:
    - ../../cluster.yaml

  vars:
    node_exporter_allow_from_ip: "{{ network.base_prefix }}.{{ vms['app-01'].vmid }}"

  roles:
    - role: node_exporter

- name: Allow Prometheus container to scrape node_exporter on app hosts (ufw minimal)
  hosts: app
  become: true
  gather_facts: false

  vars_files:
    - ../../cluster.yaml

  roles:
    - role: node_exporter
      vars:
        node_exporter_ufw_allow_from_docker_subnets:
          - "{{ docker.networks.monitoring.subnet }}"

- name: Deploy Prometheus on app hosts
  hosts: app
  become: true
  gather_facts: false

  vars_files:
    - ../../cluster.yaml

  vars:
    prometheus_proxy_ip: "{{ network.base_prefix }}.{{ vms['proxy-01'].vmid }}"

  roles:
    - role: prometheus

- name: Deploy Grafana on app hosts
  hosts: app
  become: true
  gather_facts: false

  vars_files:
    - ../../cluster.yaml

  vars:
    grafana_proxy_ip: "{{ network.base_prefix }}.{{ vms['proxy-01'].vmid }}"

  roles:
    - role: grafana

- name: Install and configure Unbound on DNS hosts
  hosts: dns
  become: true
  gather_facts: true

  vars_files:
    - ../../cluster.yaml

  vars:
    unbound_listen_interfaces:
      - "127.0.0.1"
    unbound_listen_port: 5353
    unbound_access_control:
      - "127.0.0.0/8"
    unbound_upstream_dns: "{{ network.upstream_dns }}"
    unbound_zone_name: "{{ network.domain | default('home.arpa') }}"
    unbound_zone_vms: "{{ vms }}"
    unbound_zone_base_prefix: "{{ network.base_prefix }}"
    unbound_zone_cidr_suffix: "{{ network.cidr_suffix }}"
    unbound_proxy_service_name: "proxy"

  pre_tasks:
    - name: Initialize Unbound service maps from services
      ansible.builtin.set_fact:
        unbound_zone_services: {}
        unbound_proxy_entries: []

    - name: Build Unbound zone services from services
      ansible.builtin.set_fact:
        unbound_zone_services: "{{ unbound_zone_services | combine({ item.name: {'target_vm': item.target_vm} }) }}"
      loop: "{{ services | default([]) }}"
      when:
        - item.name is defined
        - item.target_vm is defined

    - name: Build Unbound proxy entries from services
      ansible.builtin.set_fact:
        unbound_proxy_entries: "{{ unbound_proxy_entries + [item.name ~ '-proxy'] }}"
      loop: "{{ services | default([]) }}"
      when:
        - item.proxy is defined
        - item.proxy.enable | default(false) | bool

  roles:
    - role: unbound

- name: Install and configure AdGuard Home on DNS hosts
  hosts: dns
  become: true
  gather_facts: true
  vars_files:
    - ../../cluster.yaml

  vars:
    agh_dns_bind_hosts:
      - "127.0.0.1"
      - "{{ network.base_prefix }}.{{ vms['dns-01'].vmid }}"
    agh_dns_port: 53
    agh_ufw_allow_cidrs:
      - "{{ network.base_prefix }}.0/{{ network.cidr_suffix }}"
    agh_http_bind_host: "0.0.0.0"
    agh_http_port: 3000

    agh_upstream_dns:
      - "127.0.0.1:5353"

    agh_bootstrap_dns: "{{ network.upstream_dns | default([]) }}"

  roles:
    - adguard_home

- name: Point DNS hosts systemd-resolved to local Unbound
  hosts: dns
  become: true
  gather_facts: false

  vars:
    resolved_dns_servers:
      - "127.0.0.1"

  roles:
    - role: resolved_dns

- name: Point internal hosts systemd-resolved to dns-01
  hosts: "cluster:!dns"
  become: true
  gather_facts: false

  vars_files:
    - ../../cluster.yaml

  vars:
    resolved_dns_servers: "{{ network.homelab_dns }}"

  roles:
    - role: resolved_dns
