---
- import_playbook: plays/inventory_from_cluster.yaml

- name: Harden SSH on internal hosts
  hosts: internal
  become: true
  gather_facts: true

  vars_files:
    - ../../cluster.yaml

  vars:
    bastion_ip: "{{ network.base_prefix }}.{{ vms['bastion-01'].vmid }}"

  roles:
    - role: ssh_hardening
      vars:
        ssh_allow_from_ip: "{{ bastion_ip }}"
        install_fail2ban: false

- name: Install and configure Unbound on DNS hosts
  hosts: dns
  become: true
  gather_facts: true

  vars_files:
    - ../../cluster.yaml

  vars:
    unbound_listen_interfaces:
      - "127.0.0.1"
      - "{{ network.base_prefix }}.{{ vms[inventory_hostname].vmid }}"
    unbound_access_control:
      - "{{ network.base_prefix }}.0/{{ network.cidr_suffix }}"
    unbound_upstream_dns: "{{ network.upstream_dns }}"

  roles:
    - role: unbound

- name: Point DNS hosts systemd-resolved to local Unbound
  hosts: dns
  become: true
  gather_facts: false

  vars:
    resolved_dns_servers:
      - "127.0.0.1"

  roles:
    - role: resolved_dns

- name: Point internal hosts systemd-resolved to dns-01
  hosts: internal
  become: true
  gather_facts: false

  vars_files:
    - ../../cluster.yaml

  vars:
    resolved_dns_servers: "{{ network.homelab_dns }}"

  roles:
    - role: resolved_dns

