---
- import_playbook: plays/inventory_from_cluster.yaml

- name: Generate internal SSH keypair on bastion
  hosts: bastion
  gather_facts: false
  become: false

  roles:
    - role: ssh_keypair
      vars:
        ssh_key_path: "~/.ssh/id_ed25519_internal"

- name: Harden SSH on bastion
  hosts: bastion
  become: true
  gather_facts: true

  roles:
    - role: ssh_hardening
      vars:
        ssh_allow_from_ip: null       # Allow SSH from anywhere
        install_fail2ban: true

- name: Configure SSH client on bastion for internal hosts
  hosts: bastion
  gather_facts: false
  become: false

  vars_files:
    - ../../cluster.yaml

  roles:
    - role: ssh_client_config
