services:
  cloudflared:
    image: "{{ cloudflare_tunnel_image }}"
    container_name: "cloudflared"
    restart: unless-stopped
    network_mode: host
    command:
      - tunnel
      - --no-autoupdate
      - run
      - --token
      - "{{ proxy.cloudflare_tunnel_token }}"
