services:
  traefik:
    image: "{{ traefik_image }}"
    container_name: "traefik"
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "{{ traefik_static_path }}:/etc/traefik/traefik.yml:ro"
      - "{{ traefik_dynamic_dir }}:/etc/traefik/dynamic:ro"
      - "{{ traefik_acme_path }}:/etc/traefik/acme.json"
    env_file:
      - "{{ traefik_env_path }}"
