---
- name: Ensure .ssh directory exists
  ansible.builtin.file:
    path: "{{ ssh_key_path | dirname }}"
    state: directory
    mode: "0700"

- name: Generate SSH keypair for internal VMs
  community.crypto.openssh_keypair:
    path: "{{ ssh_key_path }}"
    type: "{{ ssh_key_type }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0600"
    state: present
