---
- name: Restart personal_site
  ansible.builtin.command:
    argv:
      - docker
      - compose
      - -f
      - "{{ personal_site_compose_path }}"
      - up
      - -d
      - --remove-orphans
  become: true
