global:
  scrape_interval: 15s
  evaluation_interval: 15s

{% if prometheus_alertmanager_targets | length > 0 %}
alerting:
  alertmanagers:
    - static_configs:
        - targets:
{%   for target in prometheus_alertmanager_targets %}
            - "{{ target }}"
{%   endfor %}

{% endif %}
rule_files:
  - "{{ prometheus_baseline_alert_rules_container_path }}"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
{% for vm_name, vm_config in vms.items() %}
{%   if vm_config.role == 'app' %}
      - targets: ['host.docker.internal:9100']
{%   else %}
      - targets: ['{{ network.base_prefix }}.{{ vm_config.vmid }}:9100']
{%   endif %}
        labels:
          instance: '{{ vm_name }}'
          role: '{{ vm_config.role }}'
{% endfor %}
